<div class="container" style="display: flex; flex-direction: column; max-width: 900px;">
    <div class="chooseInput mt-5">
        <form action="/search">
            <select class="form-select" aria-label="Default select example">
                <option selected>類別...</option>
                <option value="1">交通</option>
                <option value="2">家居物業</option>
                <option value="3">休閒娛樂</option>
                <option value="4">餐飲食品</option>
                <option value="5">其他</option>
            </select>
        </form>
    </div>
    <div class="total mt-5" style="display: flex; justify-content:space-between">
        <h4 style="display: inline;">總金額:</h2>
            <p style="font-size: 75px; color:crimson; display:inline">25260</p>
    </div>
    <div>
        <ul class="list-group">
            <li class="list-group-item list-group-item-dark">
                <div  style="display:flex; justify-content:space-between">
                    <i class="fa-solid fa-house fa-2xl pt-3"></i>
                    <h6 class="pt-2">午餐</h6>
                    <p class="pt-2">2019/04/23</p>
                    <p class="pt-2">$60</p>
                    <div>
                        <button class="btn btn-success">
                            編輯
                        </button>
                        <button class="btn btn-danger">
                            刪除
                        </button>
                    </div>
                </div>
            </li>
            <li class="list-group-item list-group-item-dark">
                <div  style="display:flex; justify-content:space-between">
                    <i class="fa-solid fa-house fa-2xl pt-3"></i>
                    <h6 class="pt-2">午餐</h6>
                    <p class="pt-2">2019/04/23</p>
                    <p class="pt-2">$60</p>
                    <div>
                        <button class="btn btn-success">
                            編輯
                        </button>
                        <button class="btn btn-danger">
                            刪除
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>